html {
    width: 80%;
}
body {
    min-width: 500px;
    max-width: 1000px;
    width: 100%;
    margin-right: auto;
}
h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 600px;
    color: #2e484c;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.8em;
}
p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    text-align: center;
    text-justify: inter-word;
}
.block {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}
.bk-root {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
}